* {
  box-sizing: border-box;
}
:root {
  font-family: "Lucida Console", monospace;
  font-size: 16px;
  background: #333 url("../assets/simple-bg.png");
  color: #333;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
a {
  color: #c33;
  text-decoration: none;
}
a:hover {
  color: #f33;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid #333;
}
#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #fff;
}
#svg {
  background: #333;
}
#svg .star {
  fill: #fc3;
}
#svg .planet {
  stroke-width: 1;
  stroke: #fff;
}
#svg .planet#exoPlanet1 {
  fill: #c33;
}
#svg .planet#exoPlanet2 {
  fill: #39c;
}
#svg .planet#exoPlanet3 {
  fill: #3c3;
}
#svg .planet#exoPlanet4 {
  fill: #c3c;
}
#svg .orbit {
  stroke-width: 1;
  fill: none;
}
#svg .orbit#exoPlanet1_orbit {
  stroke: #c33;
}
#svg .orbit#exoPlanet2_orbit {
  stroke: #39c;
}
#svg .orbit#exoPlanet3_orbit {
  stroke: #3c3;
}
#svg .orbit#exoPlanet4_orbit {
  stroke: #c3c;
}
