dark-colour = #333
light-colour = #fff
primary-colour = #c33
highlight-colour = #f33

*
  box-sizing: border-box

:root
  font-family: "Lucida Console", monospace
  font-size: 16px
  background: dark-colour url("../assets/simple-bg.png")
  color: dark-colour

html
body
  padding: 0
  margin: 0
  width: 100%
  height: 100%

a
  color: primary-colour
  text-decoration: none
  
  &:hover
    color: highlight-colour

table
  width: 100%
  border-collapse: collapse
  
  td
  th
    border: 1px solid dark-colour
  
#app
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  margin: 0 auto
  background: light-colour

#svg
  background: dark-colour
  
  .star
    fill: #fc3
  
  .planet
    stroke-width: 1
    stroke: #fff
    
    &#exoPlanet1
      fill: #c33
    &#exoPlanet2
      fill: #39c
    &#exoPlanet3
      fill: #3c3
    &#exoPlanet4
      fill: #c3c
    
  .orbit
    stroke-width: 1
    fill: none
    
    &#exoPlanet1_orbit
      stroke: #c33
    &#exoPlanet2_orbit
      stroke: #39c
    &#exoPlanet3_orbit
      stroke: #3c3
    &#exoPlanet4_orbit
      stroke: #c3c

#controls
  background: light-colour
  position: fixed
  left: 0
  bottom: 0
  padding: 0.5em
  font-size: 0.8em
  border-top-right-radius: 0.5em
  
  .row
    display: flex
    
    label
      flex: 1 1 50%
      margin-right: 1em
    
    input
      flex: 1 1 50%
